PORT=5000
NODE_ENV=development
DB_USERNAME=admin
DB_PASSWORD=your_mongodb_password
JWT_SECRET=super_secret_jwt_key_inventory_2026_dev_mode
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:3000
LOW_STOCK_THRESHOLD=10
